@model IEnumerable<SaleManager.Models.Repayment.TransactionCustomerDetail>

@{
    ViewData["Title"] = "Danh sách hàng hoá đã mua";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="currency">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="currency">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="currency">
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Customer">Quay lại danh sách</a>
</div>
