<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

	<title>@ViewData["Title"] - SaleManager</title>

	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

	<!-- Bootstrap CSS CDN -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- Bootstrap CSS -->
	
	<!-- Font Awesome JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<!-- Font Awesome JS -->

	<!-- DataTable JS -->
	<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
	<script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
	<!-- DataTable JS -->
	<!-- Our Custom CSS -->
	<link rel="stylesheet" href="~/css/style4.css">
</head>

<body>

	<div class="wrapper">
		<!-- Sidebar  -->
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Sale manager</h3>
				<strong>BS</strong>
			</div>

			<ul class="list-unstyled components">
				<li class="active">
					<a href="/admin/product">
						<i class="fas fa-box"></i>
						Sản phẩm
					</a>
				</li>
				<li>
					<a href="/admin/repayment">
						<i class="fas fa-hand-holding-usd"></i>
						Nợ
					</a>
				</li>
				<li>
					<a href="/admin/transaction">
						<i class="fas fa-transporter-empty"></i>
						Giao dịch
					</a>
				</li>
			</ul>
			<ul class="list-unstyled components">
				<li>
					<a href="/admin/customer">
						<i class="fas fa-users"></i>
						Khách hàng
					</a>
				</li>
				<li>
					<a href="/admin/supplier">
						<i class="fas fa-people-carry"></i>
						Nhà cung cấp
					</a>
				</li>
				<li>
					<a href="/admin/category">
						<i class="fas fa-list"></i>
						Danh mục
					</a>
				</li>
				<li>
					<a href="/admin/unit">
						<i class="fas fa-puzzle-piece"></i>
						Đơn vị
					</a>
				</li>
			</ul>
		</nav>

		<!-- Page Content  -->
		<div id="content">

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">

					<button type="button" id="sidebarCollapse" class="btn btn-info">
						<i class="fas fa-align-left"></i>
						<span>Toggle Sidebar</span>
					</button>
					<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fas fa-align-justify"></i>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="nav navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link" href="#">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Logout</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Page</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Page</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			@RenderBody()

		</div>
	</div>

	@{
		var controller = ViewContext.RouteData.Values["Controller"];
		var action = ViewContext.RouteData.Values["Action"];
	}
	<head>
		<link href="@Url.Content("~/css/admin/"+ controller.ToString().ToLower() +"/"+ action.ToString().ToLower() +".css")" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="@Url.Content("/js/admin/"+ controller.ToString().ToLower() +"/"+ action.ToString().ToLower() +".js")"></script>
		@RenderSection("Styles", false)
		@RenderSection("JavaScript", required: false)
	</head>

	@RenderSection("Scripts", required: false)

	<script type="text/javascript">
		$(document).ready(function () {
			$('#sidebarCollapse').on('click', function () {
				$('#sidebar').toggleClass('active');
			});
		});
	</script>
</body>

</html>